{% extends "HLPNebulaBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Get Started
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Install a supported client</h2>
    <hr>
    <p>
        <ul>
            <li><a href="https://dev.tproxy.de/knossos/">Knossos</a></li>
            <li><a href="http://www.hard-light.net/forums/index.php?topic=88119.0">m!m's launcher</a></li>
        </ul>
    </p>
    <br>
    <h2>Create your <span class="text-info">personal mod repository</span></h2>
    <hr>
    <p>
        More information on Hard Light Productions forum: <a href="http://www.hard-light.net/forums/index.php?topic=86364.0">official Knossos and Nebula development thread.</a>
        {% if is_granted('ROLE_USER') %}
            <br><br>You can already
            <a href="{{ path('hlp_nebula_repository_meta_create') }}">upload your own mods</a>.
        {% endif %}
    </p>
  </div>
</div>
{% endblock %}
